schema/EFGDocument.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by UMASS Boston CSLabs (UMASS Boston CSLabs) -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="datasourcesType">
		<xs:annotation>
			<xs:documentation> Contains a list of datasource elements</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="datasource" type="datasourceType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EFGDocument">
		<xs:annotation>
			<xs:documentation>An EFGDocument element is the root node of all EFGDocuments. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="datasources" type="datasourcesType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>A list of datasources that was used to create an instance document.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TaxonEntries" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TaxonEntry" type="TaxonEntryType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>A container that holds data(characters and states for e.g)  for a taxon.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="submitters" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="submitter" type="submitterType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="datasourceName_unique">
			<xs:annotation>
				<xs:documentation>Each datasource must have a unique name element. TODO: Add language attribute</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="datasources/datasource"/>
			<xs:field xpath="@name"/>
		</xs:unique>
		<xs:unique name="datasourceName_key">
			<xs:annotation>
				<xs:documentation>A unique ID scope to this context, used to re-use a datasource name in an insatnce document</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="datasources/datasource"/>
			<xs:field xpath="@efgKey"/>
		</xs:unique>
		<xs:keyref name="efgKeyRef" refer="datasourceName_key">
			<xs:annotation>
				<xs:documentation>A reference to a datasource name key</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="TaxonEntries/TaxonEntry/MediaResources/MediaResource | TaxonEntries/TaxonEntry/EFGLists/EFGList | TaxonEntries/TaxonEntry/StatisticalMeasures/StatisticalMeasure | EFGDocument/TaxonEntries/TaxonEntry/Items/Item"/>
			<xs:field xpath="@efgKeyRef"/>
		</xs:keyref>
		<xs:unique name="submitter_unique">
			<xs:selector xpath="submitters/submitter"/>
			<xs:field xpath="@name"/>
		</xs:unique>
		<xs:unique name="submitter_Key">
			<xs:selector xpath="submitters/submitter"/>
			<xs:field xpath="@submitterKey"/>
		</xs:unique>
		<xs:keyref name="submitter_keyRef" refer="submitter_Key">
			<xs:selector xpath="datasources/datasource"/>
			<xs:field xpath="@submitterRef"/>
		</xs:keyref>
	</xs:element>
	<xs:complexType name="EFGListsType">
		<xs:complexContent>
			<xs:extension base="baseEFGAttributeType">
				<xs:sequence>
					<xs:element name="EFGList" type="EFGType" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="resourceLink">
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ItemsType">
		<xs:complexContent>
			<xs:extension base="baseEFGAttributeType">
				<xs:sequence>
					<xs:element name="Item" type="EFGType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MediaResourceType" mixed="true">
		<xs:complexContent mixed="true">
			<xs:extension base="EFGType">
				<xs:attribute name="type" type="ResourceTypeEnum" default="Image">
					<xs:annotation>
						<xs:documentation>Must be one of VIDEO, AUDIO,IMAGE as defiend in resourcesType</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MediaResourcesType">
		<xs:complexContent>
			<xs:extension base="baseEFGAttributeType">
				<xs:sequence>
					<xs:element name="MediaResource" type="MediaResourceType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StatisticalMeasureType">
		<xs:complexContent>
			<xs:extension base="EFGType">
				<xs:attribute name="min" type="xs:double" use="required">
					<xs:annotation>
						<xs:documentation>The minimum value for this statistical measure</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="max" type="xs:double" use="required">
					<xs:annotation>
						<xs:documentation>The maximum value of this statistical measure</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="units" type="xs:string">
					<xs:annotation>
						<xs:documentation>The units if any for this statistical measure</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StatisticalMeasuresType">
		<xs:complexContent>
			<xs:extension base="baseEFGAttributeType">
				<xs:sequence>
					<xs:element name="StatisticalMeasure" type="StatisticalMeasureType" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="min" type="xs:double">
					<xs:annotation>
						<xs:documentation>The minimum value of all the minimum values in the list of StatisticalMesure's.It is just a hint to applications that are interested only in the least value of the StatisticalMeasure elements</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="max" type="xs:double">
					<xs:annotation>
						<xs:documentation>The maximum value of all the maximum values in the list of StatisticalMesure's.It is just a hint to applications that are interested only in the highest value of the StatisticalMeasure elements</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="unit" type="xs:string">
					<xs:annotation>
						<xs:documentation>The default unit to be used if non is specified in the list of StatisticalMeasure's.This could also be used as a hint to applications that all of the StatisticalMeasure elements have this unit of measure</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TaxonEntryType">
		<xs:annotation>
			<xs:documentation>Describes the properties of a taxon</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="Items" type="ItemsType">
				<xs:annotation>
					<xs:documentation>Anything else that is not an EFGList, MediaResources or a StatisticalMeasure may fit into this container. This container contains one or more Item elements</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatisticalMeasures" type="StatisticalMeasuresType">
				<xs:annotation>
					<xs:documentation>Indicates the statistical measures for the current taxon.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EFGLists" type="EFGListsType">
				<xs:annotation>
					<xs:documentation>Indicates a list of names/things For example similar species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MediaResources" type="MediaResourcesType">
				<xs:annotation>
					<xs:documentation>A container that encpasulates the mediaresources( audio,video,image names for e.g) for the current taxon</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="recordID" type="xs:string">
			<xs:annotation>
				<xs:documentation>An optional id that uniquely identifies this record.TaxonEntry elements with the same recordID points to the same record in the database</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ResourceTypeEnum">
		<xs:annotation>
			<xs:documentation xml:lang="en-us"> An enumertaion of Image,Text,Audio and Video</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NCName">
			<xs:enumeration value="Image">
				<xs:annotation>
					<xs:documentation xml:lang="en-us">Image -- An image is a primarily symbolic visual representation other than text. For example - images and photographs of physical objects, paintings, prints, drawings, other images and graphics, animations and moving pictures, film, diagrams, maps, musical notation. Note that image may include both electronic and physical representations.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Text">
				<xs:annotation>
					<xs:documentation xml:lang="en-us">Text -- A text is a resource whose content is primarily words for reading. For example - books, letters, dissertations, poems, newspapers, articles, archives of mailing lists. Note that facsimiles or images of texts are still of the genre text. Text may contain embedded still image illustrations, e. g., formatted html pages.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Audio"/>
			<xs:enumeration value="Video"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="datasourceType">
		<xs:annotation>
			<xs:documentation>Encapsulate the name of the actor who created a datasource and the name of the datasource.(Perhaps this should be a guid?)</xs:documentation>
		</xs:annotation>
		<xs:attribute name="name" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The name of the datasource.Must be unique in this context</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="submitterRef" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>The name of the actor who submitted this datasource</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="efgKey" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>An xs;key for a datasource. Must be unique within the context in which the datasource is defined</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EFGType" mixed="true">
		<xs:annotation>
			<xs:documentation> A group of attributes needed by some types in this schema</xs:documentation>
		</xs:annotation>
		<xs:attribute name="resourceLink">
			<xs:annotation>
				<xs:documentation>A reference (could be a url) to a resource. Applications could use it together to create a url to query an internal or external resource</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="caption" type="xs:string">
			<xs:annotation>
				<xs:documentation>An optional caption that could be used for display purposes by an application</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="annotation" type="xs:string">
			<xs:annotation>
				<xs:documentation>An annotation for the object on which this attribute is found. It could be a description of the object for instance</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="efgKeyRef" type="xs:int">
			<xs:annotation>
				<xs:documentation>A reference to where this object was obtained from. Must be a reference to a key in the same document.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="submitterType">
		<xs:annotation>
			<xs:documentation>A type for submitters of EFGDocuments</xs:documentation>
		</xs:annotation>
		<xs:attribute name="submitterKey" type="xs:int" use="required"/>
		<xs:attribute name="name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="baseEFGAttributeType">
		<xs:annotation>
			<xs:documentation> This type is used by most of the elements as a base type.Contains name and ordered attributes</xs:documentation>
		</xs:annotation>
		<xs:attribute name="name" use="required">
			<xs:annotation>
				<xs:documentation>The name of the character or pseudo character</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ordered" type="xs:boolean" default="false">
			<xs:annotation>
				<xs:documentation>'true' if the order of the elements in the container matters</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="databaseName">
			<xs:annotation>
				<xs:documentation>Some databases do not allow spaces in their field names, this attribute is used for databases that cannot easily handle field names with spaces in them.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
